version: "3.8"

services:
  mongodb:
    image: mongo:6.0
    container_name: mongo_db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: Melere
    volumes:
      - mongo_data:/data/db

  app:
    build:
      context: .
    container_name: meleree-backend
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    environment:
      MONGODB_URI: mongodb://mongodb:27017/Melere

volumes:
  mongo_data: